---
layout: page
title: "Cours 2020"
permalink: /2020/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced">
  {% assign lectures = site['2020'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%d/%m' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

Les enregistrements vidéo des cours sont disponibles <a href="https://www.youtube.com/playlist?list=PLyzOVJj3bHQuloKGG59rS43e29ro7I57J">sur YouTube</a>.

<h2>Cours des années précédentes</h2>

<p>Vous pouvez trouver les notes de cours et les vidéos de <a href="/2019/">la version de l'année dernière de ce cours</a>. Les cours de chaque année sont entièrement autonomes et nous recommandons de suivre la version la plus récente du matériel (c'est-à-dire les cours de 2020). Les sujets abordés varient légèrement, c'est pourquoi nous continuons à héberger les notes et les vidéos des versions antérieures de ce cours.</p>
