---
layout: default
---

<h1 class="title">{{ page.title }}</h1>
{% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}

{% if page.video.id %}
  <div class="youtube-wrapper" style="padding-bottom: {{ page.video.aspect }}%;">
    <iframe src="https://www.youtube.com/embed/{{ page.video.id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% elsif page.panopto %}
  <p class="center padded bordered"><strong><a href="{{ page.panopto }}">Klik di sini untuk melihat video kuliah mentah di Panopto (diperlukan login Kerberos MIT).</a></strong><br>
  Versi suntingan dari video ini akan diposting setelah kursus selesai. Video kuliah yang telah disunting akan diposting ke YouTube segera setelah kursus berakhir.</p>
{% elsif page.last_year %}
  <p class="center padded bordered"><strong><a href="{{ page.last_year }}">Klik di sini untuk melihat video kuliah tahun lalu.</a></strong><br>
  Video kuliah tahun ini akan segera tersedia.</p>
{% elsif page.video %}
  <p class="center padded bordered"><strong>Video kuliah akan segera tersedia!</strong></p>
{% endif %}

{{ content }}

<hr>

<div class="small center">
<p><a href="https://github.com/missing-semester/missing-semester/blob/master/{{ page.path }}">Sunting halaman ini</a>.</p>
<p>Dilisensikan di bawah <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA</a>.</p>
</div>
